body {
  overflow-x: hidden;
}

.content * {
  font-family: "Noto Sans KR", sans-serif;
  color: #efefef;
}

.content-aboutme {
  max-width: 60rem;
  margin: 0 auto;
}

.section-title {
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 2.5rem;
  margin: 1.375rem 0;
}

.sub-content {
  padding: 0 1rem;
  margin-bottom: 7rem;
}

.profile {
  display: flex;
}

.profile .profile-mimoji {
  display: flex;
  width: 17rem;
  min-width: 17rem;
  border-radius: 1.25rem;
}

.profile .profile-mimoji img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 1.25rem;
}

.profile .profile-info-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  padding-left: 2.35rem;
}

.profile .profile-info {
  display: block;
}

.profile .profile-info .name {
  display: inline-block;
  font-size: 1.625rem;
  margin-bottom: 30px;
}

.profile .profile-info .profile-info-flex {
  display: flex;
  margin-bottom: 1.1rem;
}

.profile .category {
  color: #00dbff;
  background: rgba(25, 201, 255, 0.212);
  border-radius: 1.25rem;
  padding: 0 5px;
  margin-right: 0.5rem;
  display: flex;
  min-width: 4rem;
  justify-content: center;
  font-size: 0.75rem;
  line-height: 1.4rem;
  margin-right: 1.2rem;
}

.profile .profile-info-flex div {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 300;
}

.profile .profile-info-flex div a {
  transition: all 0.35s ease-in;
}

.profile .profile-info-flex div a:hover {
  color: #00dbff;
}

.comment .comment-title {
  display: inline-block;
  width: auto;
  color: #00dbff;
  border: 2px solid #00dbff;
  padding: 0.4rem 1rem;
  font-weight: 700;
  border-radius: 2px;
  margin-bottom: 1.4rem;
}

.comment .comment-content {
  display: block;
}

.comment .comment-content .comment-content-head {
  font-size: 1.6rem;
  word-break: keep-all;
  margin-bottom: 2.4rem;
}

.comment .comment-content-body {
  font-size: 1.2rem;
  word-break: keep-all;
}

.comment .comment-body-inner {
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.comment-body-inner .subli {
  font-size: 1rem;
  margin: 0.2rem 0;
}

.comment-body-inner .subli::before {
  content: ">";
  vertical-align: middle;
  position: relative;
  display: inline-block;
  padding-left: 1rem;
  color: #00ff4c;
}

.timeline-wrapper {
  max-width: 50rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.timeline-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 1rem;
  margin: 1rem 0 5rem;
}

.timeline {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  white-space: pre-line;
}

.timeline:nth-child(odd) {
  position: relative;
  padding-right: 2rem;
  border-right: 2px solid #ccd5dd;
  text-align: right;
}

.timeline:nth-child(2n) {
  padding-top: 5.5rem;
  padding-left: 2rem;
  position: relative;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 1rem 0;
}

.timeline:nth-child(odd)::before {
  top: 1.35rem;
  right: -0.05rem;
  border: 1px solid #8a8e94;
  width: 16px;
  position: absolute;
  content: "";
  background: #fff;
  -webkit-align-self: center;
  align-self: center;
}

.timeline:nth-child(odd)::after {
  position: absolute;
  content: "";
  background: #fff;
  -webkit-align-self: center;
  align-self: center;
  top: 1rem;
  right: -0.83rem;
  border-radius: 1.25rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 2px solid #8a8e94;
  width: 8px;
  height: 10px;
  z-index: 1;
}

.timeline:nth-child(2n)::before {
  top: 7rem;
  border: 1px solid #8a8e94;
  width: 16px;
  position: absolute;
  content: "";
  left: -0.05rem;
  background: #fff;
  -webkit-align-self: center;
  align-self: center;
}

.timeline:nth-child(2n)::after {
  position: absolute;
  content: "";
  left: -0.05rem;
  background: #fff;
  -webkit-align-self: center;
  align-self: center;
  top: 6.6rem;
  border-radius: 1.25rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 2px solid #8a8e94;
  width: 8px;
  height: 10px;
  z-index: 1;
}

.timeline__main {
  line-height: 1rem;
}

.timeline__main .when {
  color: #00dbff;
  font-weight: 700;
  word-break: keep-all;
}

.timeline__main .title {
  line-height: 0.65rem;
  word-break: keep-all;
}

.project-wrapper {
}

.project-content {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.project-content .project-elem {
  display: flex;
  margin-bottom: 3rem;
}

.project-content .project-elem .project-thumb {
  display: flex;
  min-width: 5rem;
  max-width: 7rem;
  border-radius: 1.25rem;
  justify-content: center;
}

.project-content .project-elem .project-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
}

.project-content .project-elem .project-info {
  padding-left: 1.6rem;
  word-break: keep-all;
}

.project-content .project-elem .project-info .head .title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.project-content .project-elem .project-info .head .stack {
  display: flex;
  margin-bottom: 0.6rem;
}

.project-content .project-elem .project-info .head .stack .category {
  color: #c28eec;
  background: rgba(189, 66, 238, 0.212);
  border-radius: 1.25rem;
  padding: 0 0.6rem;
  margin-right: 0.5rem;
  display: flex;
  min-width: 2rem;
  justify-content: center;
  font-size: 0.75rem;
  line-height: 1.4rem;
  margin-right: 0.6rem;
}

.project-content .project-elem .project-info .head .stack .mob-category {
  display: none;
}
