@font-face {
  font-family: Alphacentauri;
  src: url("../font/Alphacentauri.ttf");
}

@font-face {
  font-family: Serpentine;
  src: url("../font/Serpentine.ttf");
}

@font-face {
  font-family: Blacksword;
  src: url("../font/Blacksword.otf");
}

@font-face {
  font-family: OstrichSansInline-Italic;
  src: url("../font/OstrichSansInline-Italic.otf");
}

@font-face {
  font-family: OstrichSansInline-Medium;
  src: url("../font/OstrichSans-Medium.otf");
}

@font-face {
  font-family: OstrichSans-Bold;
  src: url("../font/OstrichSans-Bold.otf");
}

@font-face {
  font-family: Crashnumberinggothic-MAjp;
  src: url("../font/Crashnumberinggothic-MAjp.ttf");
}

.cancel-btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  background: url("../image/close-btn.png");
  background-position: center;
  background-size: cover;
}

html {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-x: hidden;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
}

nav {
  position: fixed;
  color: #ffffff;
  width: calc(100vw - 20px);
  height: 45px;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: Serpentine;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  padding-top: 80px;
  margin: 0 20px;
}

.profile-logo {
  position: absolute;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../image/logo-large.jpeg");
  background-size: contain;
}

nav {
  z-index: 10;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-left: 10px;
}

nav ul li {
  display: inline-block;
  padding: 0 4px;
  font-size: 17px;
  transition: all 0.2s ease-out;
}

nav ul a:hover {
  color: rgb(55, 241, 80);
}

footer {
  width: 100vw;
  margin: 20px 0;
}

footer ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-left: 10px;
}

footer ul a li {
  display: inline-block;
  padding: 0 6px;
  font-size: 18px;
  transition: all 0.2s ease-out;
  margin: 0 6px;
  width: 40px;
}

footer ul a:nth-child(1) li {
  width: 48px;
  height: 48px;
  transform: translate(4px, 4px);
  margin-left: 0;
}

footer ul a li img {
  width: 100%;
  height: 100%;
}

footer .copyright {
  text-align: center;
  color: #efefef;
  font-size: 10px;
  margin-left: 22px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
